# Node
node_modules/

# Next.js
.next/
out/

# Build / Logs
dist/
build/
coverage/
*.log

# Env / Secrets
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Project specific
frontend/node_modules/
backend/node_modules/
frontend/.next/
backend/.next/
frontend/out/
backend/out/